<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>


        <div>
        <form action=""  method="POST">
            {% csrf_token %}
            <h3>Are you sure you want to delete expense "{{expense.description}} "?</h3>
            <a href={{request.META.HTTP_REFERER}}> Go back</a>
            <input type="submit" value="Confirm">
        </form>
    </div>
    

</body>
</html>