{% extends "base.html" %}



{% block content %}
        <div class="mini-cardt">
        <table>
            <h2>All Transactions</h2> <hr>

        {% comment %} Search {% endcomment %}

        <div>
            <form action="{% url "search-filter" %}" method='get'>
                <input type="search" name="q" id="" value="{{query}}" autocomplete="off">
                <input type="submit" value="search">
            </form>
        </div>



        <div class="filter-container">
        <form action="{% url "search-filter" %}" method='get'>
            <select id="timeFilter" name="timefilter">
                <option >{{timequery}}</option>
                <option value="thisweek">This Week</option>
                <option value="thismonth">This Month</option>
                <option value="thisyear">This Year</option>
            </select>
            <button type="submit">Apply Filter</button>
        </form>
        </div>

            <hr>
            <thead>
            <tr>
                <th>Category</th>
                <th>Expense</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{expense.category}}</td>
                <td>
                    {{expense.description}} <br>
                    <a href="{% url "delete-expense" expense.id %}"><button>Delete</button></a>
                    <a href="{% url "delete-expense" expense.id %}"><button>Update</button></a><br>
                    <small>
                        {{expense.created_on|date:"Y-m-d"}}
                        {{expense.created_on|time}}
                    </small>
                </td>
                <td>${{expense.amount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="mini-cardt">
            <h2>Filters</h2>
            <hr>

            <div class="expense-item">
                <h4>Date Range</h4> 
            </div>
            <label for="date_from">From:</label>
            <input type="date" name="date_from" id="">
            <label for="date_to">To:</label>
            <input type="date" name="date_to" id="">
            <button type="submit">Apply</button>
            <hr>

            <div class="expense-item">
                <h4>Category</h4>
            </div>
            <select name="" id="">
                {% for category in category %}
                    <option value="{{category.name}}">
                        {{category.name}}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Apply</button>
            <hr>

            <div class="expense-item">
                <h4>Amount</h4> 
            </div>
            <input type="range" name="Amount" id="amount"  min="100" max="1000000" step="100" value="500000">
            <output for="amount" id="amountValue">500000</output>
            <br>
            <button type="submit">Apply</button>

            <hr>

            <div class="expense-item">
                <h4>Transaction type</h4> 
            </div>
            <label for="expense">Expense</label>
            <input type="checkbox" name="expense" id="">
            <label for="income">Income</label>
            <input type="checkbox" name="income" id="">
            <button type="submit">Apply</button>
            <hr>
            <!-- Add more expense items as needed -->
        </div>
        <script>
            // Add JavaScript if you want to dynamically update the displayed value
            const amountInput = document.getElementById('amount');
            const amountValueOutput = document.getElementById('amountValue');

            // Add an event listener to update the displayed value when the slider changes
            amountInput.addEventListener('input', () => {
            amountValueOutput.textContent = amountInput.value;
            });
        </script>
{% endblock content %}