{% extends "base.html" %}



{% block content %}
        <div class="mini-cardt">
        <table>
            <h2>All Transactions</h2> <hr>
        <div>
            <input type="search" name="search" id="">
            <input type="button" value="search">
        </div>
        <div class="filter-container">
            <select id="timeFilter" name="timeFilter">
                <option>-------</option>
                <option value="thisWeek">This Week</option>
                <option value="thisMonth">This Month</option>
                <option value="thisYear">This Year</option>
            </select>
        </div>

            <hr>
            <thead>
            <tr>
                <th>Category</th>
                <th>Expense</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{expense.category}}</td>
                <td>
                    {{expense.description}} <br>
                    <a href="{% url "delete-expense" expense.id %}"><button>Delete</button></a><br>
                    <small>
                        {{expense.created_on|date:"Y-m-d"}}
                        {{expense.created_on|time}}
                    </small>
                </td>
                <td>${{expense.amount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="mini-cardt">
            <h2>Filters</h2>
            <hr>

            <div class="expense-item">
                <h4>Date Range</h4> 
            </div>
            <hr>

            <div class="expense-item">
                <h4>Category</h4> 
            </div>
            <hr>

            <div class="expense-item">
                <h4>Amount</h4> 
            </div>
            <hr>

            <div class="expense-item">
                <h4>Transaction type</h4> 
            </div>
            <hr>
            <!-- Add more expense items as needed -->
        </div>
{% endblock content %}