{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block nav %}
                    <h1>Dashboard</h1>
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard </li>
                    </ol>
{% endblock nav %}

{% block addexpense %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#verticalycentered"><button class="btn btn-success">New Entry</button></a>

{% endblock addexpense %}




{% block section %}

            <div class="col-lg-12">
                <div class="row">
            
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                
                            <div class="card-body">
                            <h5 class="card-title">Balance</h5>
                
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                <h6>$ {{balance|intcomma}}</h6>
                                
                
                                </div>
                            </div>
                            </div>
                
                        </div>
                    </div><!-- End Sales Card -->
            
                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">
            
                
                            <div class="card-body">
                            <h5 class="card-title">Income</h5>
                
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                <h6>$ {{income_total|intcomma}}</h6>
                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                    class="text-muted small pt-2 ps-1">increase</span>
                
                                </div>
                            </div>
                            </div>
                
                        </div>
                    </div><!-- End Revenue Card -->
            
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-md-4">
            
                        <div class="card info-card customers-card">
                            <div class="card-body">
                            <h5 class="card-title">Expense</h5>
                
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                <h6>$ {{expense_total|intcomma}}</h6>
                                </div>
                            </div>
                
                            </div>
                        </div>
            
                    </div><!-- End Customers Card -->



                </div>
            </div>
                
            <div class="col-lg-12">
                
                <div class="row">
                    <!-- Reports -->
                    <div class="col-6">
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">Reports</h5>

                                <!-- Line Chart -->
                                <div id="pieChart">

                                </div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#pieChart"), {
                                        series: [{% for data in data %}{{data.1}},{% endfor %}],
                                        chart: {
                                        height: 350,
                                        type: 'pie',
                                        toolbar: {
                                            show: true
                                        }
                                        },
                                        labels: [{% for data in data %}"{{data.0}}",{% endfor %}]
                                    }).render();
                                    });
                                </script>
                                <!-- End Line Chart -->
                            </div>

                        </div>
                    </div><!-- End Reports -->


                    <!-- Recent Transactions -->
                    <div class="col-6">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Recent Transactions </h5>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    
                                    {% for data in transactions %}
                                    <tr>
                                        <th scope="row">{{data.updated_on|date}} <br>
                                        <small>{{data.updated_on|time}}</small></th>
                                        <td>{{data.transaction_type}}</td>
                                        <td>{{data.category}}</td>
                                        <td>$ {{data.amount|intcomma}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>  
                                <a href={% url "transaction" %}><button>View all</button></a>
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                </div>
            </div>







{% endblock section %}